
h1, h2, h3, h4, h5, h6{
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}


body{
    font-family: Arial, 'Helvetica Neue', Arial, Helvetica, sans-serif; 
    margin: auto;
    background-color: white;
}

head{
    background-color: green;
}

.my_name{
    float: left;
    background-color: black;
    color: white;
    height: inherit;
}

.links{
    float: right;
    text-align: right;
    background-color: white;
    height: inherit;
    vertical-align: bottom;
}

.top_bar{
    border-bottom-style: solid;
    border-bottom-color: darkslategray;
    border-bottom-width: thick;
    background-color: white ;
    width: 960px;
    margin: inherit;
    height: 75px;
}

.the_meat{
    clear: both;
    width: 960px;
    margin: inherit;
    color: grey;
    background-color: white;
}

.flex_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex_container img{
    height: 150px;
    width: 175px;
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.content_header{
    border-bottom-style: solid;
    border-bottom-color: darkslategray;
    border-bottom-width: thick;
}
 
.portfolio_image{
    position: relative;
}

.portfolio_image p {
    position: absolute;
    background-color: grey;
    color: white;
    text-align: center;
    width: 175px;
    bottom: 10px;
    left: 45px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.links p a {
    text-decoration: none;
    color: grey;
}

#contact_form{
    padding: 25px;
}

#contact_form form input[type="text"], #contact_form form textarea {
    width: 100%;
}

#contact_form form input[type="submit"] {
    background-color: grey;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
}

.the_meat h1 {
    padding-left: 20px;
    padding-top: 10px;
}

.footer h4 {
    border-bottom-style: solid;
    border-bottom-color: darkslategray;
    border-bottom-width: thick;
    background-color: white ;
    width: 960px;
    margin: inherit;
    height: 75px;
}

#picture {float: left;}

header {
    margin: auto;
    background-color: white;
}

footer {
    margin: auto;
    background-color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

@media screen{
    max-width: 960px;
    max-width: 780px;
    max-width: 640px;
}